@mixin button-style {
  height: 3.5rem;
  width: 20.4375rem;
  margin-bottom: $space-40;
  padding: $space-16 $space-47;
  color: $white;
  font-size: $text-16;
  font-weight: $font-bold;
  line-height: $line-height-base;
  background: $blue-800;
  border-radius: 0.5rem;

  @media (min-width: $breakpoint-tablet) {
    width: 100%;
    margin-bottom: 0;
  }
}
