.form {
  position: relative;
  width: 20.4375rem;
  display: flex;
  flex-direction: column;

  &__label,
  &__error {
    font-size: $text-12;
    font-weight: $font-bold;
    line-height: $line-height-base;
  }

  &__label {
    color: $blue-800;
  }

  &__error {
    top: 0;
    right: 0;
    position: absolute;
    color: $red;
    visibility: hidden;
  }

  &__input {
    height: 3.5rem;
    width: 20.4375rem;
    margin: $space-8 0 $space-24;
    padding-left: $space-24;
    border: 1px solid $grey;
    color: $blue-800;
    font-size: $text-16;
    line-height: $line-height-base;
    border-radius: 0.5rem;

    &::placeholder {
      color: $grey;
    }

    &:focus {
      outline: 1px solid $blue-800;
    }
  }

  &__button {
    height: 3.5rem;
    margin-bottom: $space-40;
    width: 20.4375rem;
    padding: $space-16 $space-47;
    color: $white;
    font-size: $text-16;
    font-weight: $font-bold;
    line-height: $line-height-base;
    background: $blue-800;
    border-radius: 0.5rem;
  }
}
