.front {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-40;

  &--hide {
    display: none;
  }
}

@media (min-width: $breakpoint-tablet) {
  .front {
    align-items: start;
  }
}
