.front {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-40;

  &--hide {
    display: none;
  }
}

@media (min-width: $breakpoint-tablet) {
  .front {
    padding: 2.67875rem $space-40;
    align-items: start;
  }
}

@media (min-width: $breakpoint-desktop) {
  .front {
    padding: $space-24 $space-32;
    flex-direction: row-reverse;
    align-items: center;
    gap: $space-64;
  }
}
