.list {
  display: flex;
  flex-direction: column;
  gap: $space-8;

  &__item {
    height: 3rem;
    display: flex;
    align-items: start;
    gap: $space-16;
    line-height: $line-height-base;
    color: $blue-800;
  }
}
